{% extends 'base.html.twig' %}

{% block title %}Hello ConsultarnoticiaController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">

    <h1 style="color: ##333; text-align: center;"><span style="color: #808000;"><strong>PORTAL NOTICIAS</strong></span></h1>
    
</div>
<div>
    <td>
        <h4 style="color:#1380a1;text-align:left;">{{ noticia.noticia }}</h4>
    </td>

</div>
{% endblock %}
